head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
  meta(name="format-detection" content="telephone=no")
  link(href='../vineyard/css/red-styling.css?v=1.0', rel='stylesheet', media='all')
  block title
    title Vineyardred

.vinyardred
  header
    a(href="../vineyard/vineyardred.html") Vineyardred
    a(href="../vineyard/vineyardwhite.html") VineyardWhite
    a(href="../vineyard/vineyardrose.html") Vinyardrosé
  .wrapper
    - var price = 0;
    form.red1#red1
      label.category
        p Product Category
        input.required(type="text", name="red", value="Red", readonly)
        input.required(type="hidden",value=".......", readonly)
      label
        p Quantity
        input.required.quantity(type="text")
        input.required(type="hidden",value=".......@", readonly)
      label.unit-price
        p Unit Price
        input.required.unitPrice(type="text", name="unit price", value="55", readonly)
        input.required(type="hidden",value=".......each.......=", readonly)
        input.required.price(type="hidden", readonly)
      label.p-name
        p Product Name
        input(type="text", name="product_name", value="Name1", readonly)

      label.p_description
        p Description
        textarea(rows='4', cols='50', name="description",  readonly) Enta palab goes here...




      a.btn.red_cart(href="#") Add to cart

      a.btn.red_order(href="#") Place Order


  footer
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='../vineyard/js/shopping.js')
