head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
  meta(name="format-detection" content="telephone=no")
  link(href='../Processed/form-styling.css?v=1.0', rel='stylesheet', media='all')
  script(src=src='https://www.google.com/recaptcha/api.js')
  block title
    title Vineyardred

.vinyardred
  header
  .wrapper

    form
      label.email
        p Email Address
        input(type="text")

      label.email
        p Email Address
        input(type="text")

      label.email
        p Email Address
        input(type="text")

      label.email
        p Email Address
        input(type="text")


  footer
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='../Processed/validations.js')
