head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
  meta(name="format-detection" content="telephone=no")
  link(href='../vineyard/css/white-styling.css?v=1.0', rel='stylesheet', media='all')
  block title
    title Vineyardwhite

.vinyardred
  header
    a(href="../vineyard/vineyardred.html") Vineyardred
    a(href="../vineyard/vineyardwhite.html") VineyardWhite
    a(href="../vineyard/vineyardrose.html") Vinyardrosé
  .wrapper

    form
      label.category
        p Product Category
        input(type="text", name="white", value="white", readonly)

      label.p-name
        p Product Name
        input(type="text", name="product_name", value="Name11", readonly)

      label.p_description
        p Email Address
        textarea(rows='4', cols='50', name="description",  readonly) Mari bku Enkr Enta palab goes here...

      label.unit-price
        p Unit Price
        input(type="text", name="price", value="$170", readonly)

      label.quantity
        p Quantity
        input(type="text")
      a.btn.white_cart(href="#") Add to cart

      a.btn.white_order(href="#") Place Order


  footer
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='../vineyard/js/shopping.js')
