head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
  meta(name="format-detection" content="telephone=no")
  link(href='../vineyard/css/red-styling.css?v=1.0', rel='stylesheet', media='all')
  block title
    title Vineyardred

.vinyardred
  header
    a(href="../vineyard/vineyardred.html") Vineyardred
    a(href="../vineyard/vineyardwhite.html") VineyardWhite
    a(href="../vineyard/vineyardrose.html") Vinyardrosé
  .wrapper
    section.section-table
      .container
        table#table-info
          tr.row1
            th.cell Product Name
            th Description
            th Unit Price
            th Quantity
            th Add to cart
          tr
            td asdasd
            td asdasd
            td asdasd
            td asdasd
            td
              button +
          tr
            td asdasd
            td asdasd
            td asdasd
            td asdasd
            td
              button +
          tr
            td asdasd
            td asdasd
            td asdasd
            td asdasd
            td
              button +

  footer
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='../vineyard/js/shopping.js')
